<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand">Blogify</a>
    </div>
</nav>

<% if (locals.error) { %>
    <div class="container mt-4">
        <div class="alert alert-danger">
            <%= locals.error %>
        </div>  
    </div>
<% } %>
